.container{
    padding: 1rem;
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 0rem;
}
.logo>img{
    width: 5rem;
    height: 5rem;
}
.logo>span{
    font-weight: 600;
}
.right{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}
.menu{
    display: flex;
    gap: 2rem;
    font-weight: 550;
    list-style: none;
}
.menu>li:hover{
    color:#eee82c;
    cursor: pointer;
}
.search{
    width: 7rem;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    height: 30%;
}
.cart{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}
@media screen and (max-width:640px) {
    .right{
        position: absolute;
        right: 2rem;
        z-index: 9999;
        background: white;
        color: var(--black);
        border-radius: 5px;
        flex-direction: column;
        padding: 1rem;
    }
    .menu{
        flex-direction: column;
        margin-left: -2rem;
    }
    
}