@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,600&display=swap');

body {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
    background: var(--bg);
    transition: all 3s ease;
    color: var(--black);
    scroll-behavior: smooth;
}